.cor{
	background: transparent;
	color: black;
	padding-right: 100px;
	padding-left: 100px; 
	font-family: Georgia;

}
a{
	color: white;
	font-size: 19px;
}

.bu{
	border-radius: 10px;
	background: #177EF4;
	border: 3px solid #1C6FC1;

}
.bu:hover{
	transition: 0.8s;
	background: #05AB2C;
	border: 3px solid #33CF57;
}
.img{
	background: url(../img/ini-tec.jpg);
	background-attachment: fixed;
	height: 600px;
	
}

.linha{
	background-color: #FFFAFA;
	height: 10px;
	border: 1px solid green;
	height: 200px;
}
.centro{
	text-align: center;
	margin: 0 auto;

}
.jumbotron{
	background-color: transparent;
	color: white;
	font-weight: bold;
}

.area{
	border-top:10px solid grey;
	margin: 0 auto;
	width: 100%

}
.t{
	height: 250px;
	filter: saturate(135%);

}
