.cor{
	background: transparent;
	color: black;
	padding-right: 100px;
	padding-left: 100px; 
	font-family: Georgia;

}
a{
	color: white;
	font-size: 19px;
}

.bu{
	border-radius: 10px;
	background: #177EF4;
	color: white;
	border: 3px solid #1C6FC1;

}
.bu:hover{
	transition: 0.8s;
	background: #05AB2C;
	border: 3px solid #33CF57;
}
.img{
	background: url(../img/ini-tec.jpg);
	background-attachment: fixed;
	height: 600px;
	
}

.linha{
	background-color: #FFFAFA;
	border: 1px solid green;
	height: 200px;
}
.centro{
	text-align: center;
	margin: 0 auto;

}
.jumbotron{
	background-color: transparent;
	color: white;
	font-weight: bold;
}

.area{
	border-top: 10px solid grey;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 30px;
}
.t{
	height: 250px;
	filter: saturate(135%);

}
.rodape{
	background: #177EF4;
	color: white;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;

}

.ts{
	transition: 0.5s;
}


/*  -------------------         Colocando Scroll Custom         ----------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #177EF4; 
  border-radius: 10px;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: black; 
}*/